<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/CSS/style.css}"/>

</head>
<body>

	<form action="addSong" method="post">
		<label>Song name:</label> 
		<input type="text" name="name" /> 
		<label>Song
			art:</label> <input type="text" name="artist" /> 
			<label>Song Genre:</label>
		<input type="text" name="genere" /> 
		<label>Song link:</label> <input
			type="text" name="link" /> <input type="submit" value="ADD SONG" />

	</form>
	>
</body>
</html>